.8-to-create {
  margin-top: 7rem;
}

.logo-form {

}

.quad-day-cards {
  margin-left: calc((100% - 100vw + 1.8rem)/2) !important;
  margin-right: 0 !important;
}

.yellow-pic {
  margin-left: calc(100% - 100vw + 11.7rem);

  img {
    width: calc(100vw - 3.6rem);
  }
}
