#about {
  max-width: 96rem;
  min-height: 0;
  width: 90%;

  h1 {
    font-size: 4rem;
    margin: 8rem 0 2rem 0;
  }

  p {
    max-width: 48rem;
    width: 100%;
  }

  &:before {
    border-top: 2px solid #ccc;
    content: ' ';
    left: 0;
    max-width: 48rem;
    position: relative;
    top: 0;
    width: 100%;
  }
}


.links {
  li:first-of-type {
    border-right: 1px solid #aaa;
    margin-right: 1.3rem;
    padding-right: 2rem;
  }
}
