#about {
  max-width: $max-width;
  min-height: 0;
  position: relative;
  width: 90%;

  h1 {
    font-size: 4rem;
    letter-spacing: 1.5px;
    margin: 8rem 0 2rem 0;
  }

  p {
    max-width: $max-width/2;
    width: 100%;
  }

  &:before {
    border-bottom: $border;
    content: '';
    left: 0;
    margin-top: 12rem;
    max-width: 20rem;
    position: absolute;
    top: -22rem;
    width: 100%;
  }
}


.links {
  li:first-of-type {
    border-right: 1px solid #aaa;
    margin-right: 1.3rem;
    padding-right: 2rem;
  }
}
