section.about {
  min-height: 0;
  padding-top: 5rem;
  position: relative;

  a {
    font-weight: 500;
  }

  .resume {
    border-right: $border;
    margin-right: 2rem;
    padding-right: 2rem;
  }
}

.coming-soon {
  margin-bottom: 40rem;
}

.links {
  li:first-of-type {
    border-right: 1px solid #aaa;
    margin-right: 1.3rem;
    padding-right: 2rem;
  }
}
