html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
  border-left: $body-border-width solid #111;
  border-right: $body-border-width solid #111;
  color: $font-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.56rem;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  &:before, &:after {
    background: #111;
    content: "";
    height: $body-border-width;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
    border-left: none;
    border-right: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.5px;
}

h2 {
  color: $color-accent;
}

h3 {
  color: $font-color-lite;
}

p {
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover {
    color: $color-accent;
  }
}

.container {
  margin: 3rem auto 0 auto;
  max-width: $max-width;
  min-height: 30vh;
  padding-bottom: 9rem;
  transition: height .3s ease-out;
  width: 90%;

  // Hacky
  > div:not(.links) {
    opacity: 0;
  }
}

.divider {
  max-width: $max-width;
  width: 90%;
}

@include keyframes(fade-in) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  @include animation('fade-in .8s ease-in-out');
  animation-fill-mode: forwards;
}

@include keyframes(fade-out) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  @include animation('fade-in .8s ease-in-out');
  animation-fill-mode: forwards;
}
