html {
  font-size: 62.5%;
}

body {
  background: #fff;
  border-left: $body-border-width solid #111;
  border-right: $body-border-width solid #111;
  color: $font-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.56rem;
  margin: -2rem 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  &:before, &:after {
    background: #111;
    content: "";
    height: $body-border-width;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
    border-left: none;
    border-right: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.5px;
}

h2 {

}

h3 {
  color: $font-color-lite;
}

h4 {
  color: $font-color;
  font-weight: bold;
}

h5 {
  text-transform: uppercase;
}

h6 {
  color: $font-color-lite;
  text-transform: lowercase;
}

p {
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover {
    color: $color-accent;
  }
}

.container {
  margin: 3rem auto 0 auto;
  // padding-bottom: 9rem;
  transition: height .3s ease-out;
}

.divider {
  max-width: $max-width;
  width: 90%;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.centered {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-justify-content: center;
	justify-content:center;
}

.spacing {
  margin: 15rem 0;
}

.fullWidth {
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   width: 100vw;
}

article.project {
  background-color: #fff;
  border-left: $body-border-width solid #111;
  border-right: $body-border-width solid #111;
  left: 0;
  margin: 0;
  min-height: 100vh;
  opacity: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  transition: z-index .5s ease-out,
              opacity .3s ease-out .4s;
  width: 100%;
  will-change: opacity, z-index;
  z-index: -10;

  &.active {
    opacity: 1;
    z-index: 10;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	article.project {
    border-left: none;
    border-right: none;
  }
}
