@include font-face-Apercu(Regular, 400);
@include font-face-Apercu(Italic, 400, italic);
@include font-face-Apercu(Medium, 500);
@include font-face-Apercu(MediumItalic, 500, italic);
@include font-face-Apercu(Bold, 700);
@include font-face-Apercu(BoldItalic, 700, italic);

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  border-left: $body-border-width solid #111;
  border-right: $body-border-width solid #111;
  color: $font-color;
  font-family: 'Apercu','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.56rem;
  margin: -2rem 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  &:before, &:after {
    background: #111;
    content: "";
    height: $body-border-width;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
    border-left: none;
    border-right: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: 1.2;
}

h2 {

}

h3 {
  color: rgba(black, .96);
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 400;
}

h4 {
  color: rgba(black, .98);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  color: rgba(black, .9);
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
}

h6 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  color: rgba(0,0,0,.75);
  font-size: 1.4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover {
    color: rgba($color-accent, 1);
  }
}

button {
  margin: 0;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}

.container {
  margin: 3rem auto 0 auto;
  // padding-bottom: 9rem;
  transition: height .3s ease-out;
}

.divider {
  max-width: $max-width;
  width: 90%;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.spacing {
  margin: 15rem 0;
}

article.project {
  background-color: #fff;
  margin: 0;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  transition: z-index .5s ease-out,
              opacity .3s ease-out .4s;
  width: 100%;
  will-change: opacity, z-index;
  z-index: -10;

  &.active {
    opacity: 1;
    z-index: 10;
  }
}

.col-2 {
  column-count: 2;
}
