footer {
  // border-top: $border;
  margin: 4rem auto 0 auto;
  max-width: $max-width;
  padding: 6rem 0;
  position: relative;
  text-align: center;
  width: 90%;

  &:before {
    background-color: black;
    content: " ";
    height: .1rem;
    left: 50%;
    position: absolute;
    top: 0%;
    transform: translateX(-50%);
    width: calc(100% - 1.875rem);
  }
}
