@mixin font-face-Apercu($name, $weight, $style: normal) {
  @font-face {
    font-family: "Apercu";
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/Apercu/#{$name}/ApercuPro-#{$name}.eot") format("eot"),
         url("../fonts/Apercu/#{$name}/ApercuPro-#{$name}.woff2") format("woff2"),
         url("../fonts/Apercu/#{$name}/ApercuPro-#{$name}.woff") format("woff"),
         url("../fonts/Apercu/#{$name}/ApercuPro-#{$name}.ttf") format("truetype"),
         url("../fonts/Apercu/#{$name}/ApercuPro-#{$name}.svg") format("svg");
  }
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin bg($url) {
  background: url($url) no-repeat center center;
  background-size: cover;
}

@mixin grid($items) {
  @if $items == 3 {
    -webkit-flex: 0 1 30.5%;
  	flex: 0 1 30.5%;
    margin: 0 4.25% 3% 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @else if $items == 2 {
    -webkit-flex: 0 1 48%;
  	flex: 0 1 48%;
    margin: 0 3.25% 3% 0;

    &:nth-child(3n) {
      margin-right: auto;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @else {
    -webkit-flex: 0 1 100%;
  	flex: 0 1 100%;
    margin: 0 0 3% 0;
  }
}
