nav {
  padding: 4rem 3rem 3rem 3rem;
  // width: calc(100% - 2.4rem);
}

.navcontent {
  border-bottom: $border;
  margin: 0 auto;
  max-width: 960px;
  padding-bottom: 3rem;
  width: 90%;

  h3 {
    font-weight: 300;
  }

  li {
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  > div {
    display: inline-block;
  }
}

.navitems {
  float: right;
}

// TODO add media queries
