nav {
  font-size: 1.4rem;
  overflow-x: hidden;
  padding-top: 10rem;
  position: relative;
  text-transform: uppercase;

  img {
    width: 10rem;
  }

  &:after {
    background-color: black;
    content: " ";
    height: .1rem;
    left: 50%;
    position: absolute;
    top: 99.5%;
    transform: translateX(-50%);
    width: calc(100% - 1.875rem);
  }
}

.nav-items {
  display: inline-block;
  float: right;
  padding: 2rem 0;

  li {
    height: 100%;
    position: relative;
  }

  li:not(:first-of-type) {
    margin-left: 2rem;
  }

  .active {
    &:after {
      background-color: #555;
      content: " ";
      height: 5px;
      left: 0;
      position: absolute;
      top: calc(100% + 2rem);
      width: 100%;
    }
  }
}

.cta {
  border-left: $border;
  padding-left: 2rem;
}
