.projects-wrapper {
  h2 {
    font-size: 3.6rem;
  }

  h4 {
    color: $font-color-lite;
    font-size: 1.7rem;
    font-weight: lighter;
    letter-spacing: .17rem;
  }

  p {
    font-weight: 300;
    line-height: 1.7;
  }
}

.projects {
  // max-width: $max-width;
  margin-top: 10rem;
}

.project {
  cursor: pointer;
  margin-bottom: 3rem;

  img {
    // filter: grayscale(100%);
    transition: filter .35s ease-in-out;
    width: 100%;
  }

  &:hover {
    img {
      // filter: grayscale(0);
    }
  }
}

.info {
  padding: 20rem 0;
  width: 50%;

  h4 {
    margin-top: 1rem;
  }

  p {
    margin-top: 4rem;
  }
}
