.projects {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
  max-width: $max-width;
}

.project {
  @include grid(3);
  cursor: pointer;
  display: inline-block;
  height: 34rem;
  // max-width: 27rem;
  // width: 27rem;
  // width: 33%;

  img {
    // filter: grayscale(100%);
    height: 100%;
    max-height: 34rem;
    // max-width: 34rem;
    transition: filter .35s ease-in-out;
    width: 100%;
  }

  &:hover {
    img {
      // filter: grayscale(0);
    }
  }
}

@media only screen and (max-width: 62em) {
  .project {
    @include grid(2);
  }
}

@media only screen and (max-width: 34em) {
  .project {
    @include grid(1);
  }
}

.project[data-project-name="8-to-create"] {
  @include bg('../images/landing/Landing8toCREATE.png');
}

.project[data-project-name="animation-nation"] {
  @include bg('../images/landing/LandingAnimationNation.jpg');
}

.project[data-project-name="bonfires-at-ochetyre"] {
  @include bg('../images/landing/LandingBonfiresAtOchetyre.png');
}

.project[data-project-name="no-strings-attached"] {
  @include bg('../images/landing/LandingCahoot.jpg');
}

.project[data-project-name="louie"] {
  @include bg('../images/landing/LandingLouie.jpg');
}

.project[data-project-name="multiplex-monograph"] {
  @include bg('../images/landing/LandingMultiplexMonograph.jpg');
}

.project[data-project-name="neutral"] {
  @include bg('../images/landing/LandingNeutral.png');
}

.project[data-project-name="cahoot"] {
  @include bg('../images/landing/LandingCahoot.jpg');
}

.project[data-project-name="galileo"] {
  @include bg('../images/landing/LandingGalileo.jpg');
}
