.projects-wrapper {
  h2 {
    font-size: 3.6rem;
  }

  p {
    font-weight: 300;
    line-height: 1.7;
  }
}

// project hover effect entirely inspired by
// https://chilli.be/en
.projects {
  margin-top: 10rem;

  .other {
    cursor: pointer;
    position: relative;

    img {
      opacity: 0;
      transition: opacity .18s ease-out;
    }

    h4 {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }

  .project {
    cursor: pointer;
    position: relative;

    h4 {
      backface-visibility: hidden;
      border: 0;
      left: 0;
      margin-top: -1rem;
      position: absolute;
      text-align: center;
      top: 50%;
      opacity: 0;
      transition: all 0.2s ease-in;
      width: 100%;
      z-index: 3;
    }

    &:hover .overlay {
      margin: 1rem 2rem 2rem 2rem;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    &:hover h4 {
      opacity: 1;
      transition: all 0.3s ease-in 0.1s;
    }
  }

  .overlay {
    background-color: #fff;
    backface-visibility: hidden;
    bottom: 1rem;
    height: auto;
    left: 1rem;
    margin: 0px;
    opacity: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: all 0.2s ease-in-out 0.1s;
    transform: translateZ(0);
    width: auto;
    z-index: 2;
  }
}

.info {
  padding: 20rem 0;
  width: 50%;

  h4 {
    margin-top: 1rem;
  }

  p {
    margin-top: 4rem;
  }
}

.title {
  text-transform: uppercase;
}

.process {
  margin-top: 7rem;
}

.project-footer {
  margin: 4rem 0 7rem 0;

  div:nth-child(2) {
    text-align: center;
  }

  div:nth-child(3) {
    text-align: right;
  }
}

@media all and (max-width: 640px){
  .project-footer div:nth-child(2) {
    visibility: hidden;
  }
}

.row img {
  margin-bottom: 1.8rem;
  width: 100%;
}

.stacked {
  img {
    margin-bottom: 2.8rem;
  }
}
