$font-color: #333;
$font-color-lite: #999;
$color-accent: #e7c824;

$border: 3px solid #ccc;
$body-border-width: 1.8rem;

$max-width: 128rem;
$project-width: 45rem;

// Max number of items in a slider
$max: 15;
